.kanban-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #0067A3;
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    padding: 20px;
    font-size: 18px;
    line-height: 20px;
    min-height: 60px;
}

.kanban-footer-left,
.kanban-footer-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}
