.kanban-header-usermenu{
    position: relative;
    width: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.kanban-header-usermenu-avatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.kanban-header-usermenu-arrow{
    width: 12px;
}

.dropdown-list-usermenu{
    width: 200px !important;
    top: 50px !important;
    right: 0px !important;
    left: calc(58px - 200px) !important;
}

.novisible{
    display: none;
}

.kanban-header-usermenu-romb{
    position: absolute;
    left: 12px;
    top: 42px;
}