

	html, body {
		padding: 0;
		margin: 0;
	}

	body {
		font-family: 'Roboto', sans-serif;
	}

	.kanban-h1{
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		line-height: 34px;
	}

/*   ///////////////////////////////////////////////////////////////////////////////////////////////////   */
/*	Kanban - header, footer */

	.kanban-header,
	.kanban-footer{
		background-color: #0067A3;
		color: #fff;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.kanban-header{
		padding: 8px 20px;
	}

	.kanban-footer{
		padding: 20px;
		font-size: 18px;
		line-height: 20px;
	}


/*   ///////////////////////////////////////////////////////////////////////////////////////////////////   */
/*	Kanban - inner */

.kanban-inner{
	background-color: #0079BF;

	height: calc(100vh - 90px - 60px);

	/*display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;*/
}

/*   ///////////////////////////////////////////////////////////////////////////////////////////////////   */



/*   ///////////////////////////////////////////////////////////////////////////////////////////////////   */
