/*   //////////////////////////////////////////////////////////   */

    .button-addtask{
        font-size: 18px;
        line-height: 21px;
        color: #bbb;
        padding: 0;
        border: none;
    }

    .button-addtask:focus,
    .button-addtask:active{
        outline: 0;
    }

    .button-addtask-active{
        cursor: pointer;
        color: #5E6C84;
    }

    .button-addtask-active:focus,
    .button-addtask-active:active{
        outline: 0;
    }

    .button-addtask-active:hover{
        color: #0079BF;
    }

/*   //////////////////////////////////////////////////////////   */

    .button-submit{
        font-size: 18px;
        line-height: 21px;
        background: #0079BF;
        color: #fff;
        border-radius: 5px;
        border: 1px solid #0079BF;
        padding: 0;
        /*border: none;*/
        padding: 5px 20px;
        cursor: pointer;
        outline: 0;
    }

    
    .button-submit:hover,
    .button-submit:focus,
    .button-submit:active
    {
        background: #fff;
        color: #0079BF;
    }



