.kanban-task{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.kanban-task-active:hover{
    background: #fafafa;
    cursor: pointer;
}